<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>teleport</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>teleport.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.abyssoft.teleport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>tlpt</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>TPRevision</key>
	<string>DEFINED_BY_GIT</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>TPApplication</string>
	<key>NSUIElement</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>http://www.abyssoft.com/software/teleport/versions.xml</string>
</dict>
</plist>
